body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:538px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1435 {
  position:absolute;
  left:0px;
  top:112px;
  width:1347px;
  height:538px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:261px;
  width:1343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1437 {
  position:absolute;
  left:480px;
  top:127px;
  width:375px;
  height:476px;
  font-size:12px;
  color:#000000;
}
#u1438 {
  position:absolute;
  left:2px;
  top:230px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439 {
  position:absolute;
  left:529px;
  top:136px;
  width:76px;
  height:32px;
}
#u1439_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1440 {
  position:absolute;
  left:692px;
  top:136px;
  width:67px;
  height:32px;
}
#u1440_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1441 {
  position:absolute;
  left:755px;
  top:136px;
  width:73px;
  height:32px;
}
#u1441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#169BD5;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1442 {
  position:absolute;
  left:522px;
  top:179px;
  width:284px;
  height:47px;
}
#u1442_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1443 {
  position:absolute;
  left:523px;
  top:248px;
  width:191px;
  height:38px;
}
#u1443_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u1444 {
  position:absolute;
  left:522px;
  top:226px;
  width:298px;
  height:1px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:2px;
}
#u1446 {
  position:absolute;
  left:522px;
  top:287px;
  width:130px;
  height:1px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:-8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
  text-align:left;
}
#u1448 {
  position:absolute;
  left:522px;
  top:232px;
  width:112px;
  height:16px;
  color:#990000;
  text-align:left;
}
#u1449 {
  position:absolute;
  left:2px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1450 {
  position:absolute;
  left:714px;
  top:251px;
  width:106px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1450_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:6px 6px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1450.mouseDown {
}
#u1451 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1452 {
  position:absolute;
  left:523px;
  top:309px;
  width:297px;
  height:38px;
}
#u1452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u1453 {
  position:absolute;
  left:522px;
  top:348px;
  width:298px;
  height:1px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455 {
  position:absolute;
  left:523px;
  top:368px;
  width:297px;
  height:38px;
}
#u1455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:2px;
}
#u1456 {
  position:absolute;
  left:522px;
  top:407px;
  width:298px;
  height:1px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:-8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458 {
  position:absolute;
  left:522px;
  top:436px;
  width:260px;
  height:16px;
}
#u1459 {
  position:absolute;
  left:16px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u1458_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1460 {
  position:absolute;
  left:522px;
  top:489px;
  width:298px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1460_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:6px 6px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:6px 6px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:6px 6px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1460.mouseDown {
}
#u1461 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
