.content{background-color: #f9f9f9;}

section.picbanner{}

section.picbanner .left{width:616px;height: 500px;position: relative;}

section.picbanner .left .pic{width:616px;height: 500px;position: absolute;top:0;z-index: 1;}
section.picbanner .left .bf{position: absolute;z-index: 2;}
section.picbanner .left .tit{position: absolute;z-index: 2;}



