body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:153px;
  top:161px;
  width:1041px;
  height:603px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:294px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:52px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:18px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1137 {
  position:absolute;
  left:148px;
  top:8px;
  width:68px;
  height:36px;
  font-size:18px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1139 {
  position:absolute;
  left:207px;
  top:10px;
  width:62px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u1141 {
  position:absolute;
  left:263px;
  top:12px;
  width:98px;
  height:30px;
  color:#169BD5;
}
#u1142 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1143 {
  position:absolute;
  left:232px;
  top:72px;
  width:77px;
  height:41px;
  font-size:18px;
}
#u1143_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1143.mouseDown {
}
#u1144 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#169BD5;
}
#u1145 {
  position:absolute;
  left:343px;
  top:72px;
  width:77px;
  height:41px;
  font-size:18px;
  color:#169BD5;
}
#u1145_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#169BD5;
}
#u1145.mouseDown {
}
#u1146 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1147 {
  position:absolute;
  left:470px;
  top:72px;
  width:77px;
  height:41px;
  font-size:18px;
}
#u1147_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1147.mouseDown {
}
#u1148 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:2px;
}
#u1149 {
  position:absolute;
  left:153px;
  top:112px;
  width:1177px;
  height:1px;
  color:#868686;
}
#u1150 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:162px;
  top:123px;
  width:147px;
  height:28px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1153 {
  position:absolute;
  left:432px;
  top:224px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u1154 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:195px;
  height:25px;
}
#u1155 {
  position:absolute;
  left:457px;
  top:234px;
  width:183px;
  height:5px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:-6px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1157 {
  position:absolute;
  left:640px;
  top:224px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u1158 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  position:absolute;
  left:401px;
  top:258px;
  width:91px;
  height:22px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1161 {
  position:absolute;
  left:577px;
  top:259px;
  width:161px;
  height:22px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:195px;
  height:25px;
}
#u1163 {
  position:absolute;
  left:675px;
  top:234px;
  width:183px;
  height:5px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:-6px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1165 {
  position:absolute;
  left:858px;
  top:224px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u1166 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1167 {
  position:absolute;
  left:825px;
  top:259px;
  width:91px;
  height:22px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1169 {
  position:absolute;
  left:536px;
  top:397px;
  width:50px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u1170 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1171 {
  position:absolute;
  left:596px;
  top:388px;
  width:244px;
  height:61px;
  font-size:28px;
  text-align:left;
}
#u1172 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  word-wrap:break-word;
}
