body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:494px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8757 {
  position:absolute;
  left:0px;
  top:67px;
  width:1860px;
  height:494px;
}
#u8758 {
  position:absolute;
  left:2px;
  top:239px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8759 {
  position:absolute;
  left:334px;
  top:429px;
  width:1285px;
  height:564px;
}
#u8760 {
  position:absolute;
  left:2px;
  top:274px;
  width:1281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:67px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8762 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:67px;
}
#u8763 {
  position:absolute;
  left:2px;
  top:26px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8764 {
  position:absolute;
  left:1411px;
  top:14px;
  width:40px;
  height:40px;
}
#u8765 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8766 {
  position:absolute;
  left:1450px;
  top:21px;
  width:58px;
  height:26px;
}
#u8767 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u8768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8768 {
  position:absolute;
  left:43px;
  top:3px;
  width:60px;
  height:60px;
}
#u8769 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u8770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8770 {
  position:absolute;
  left:108px;
  top:9px;
  width:74px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8771 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u8772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u8772 {
  position:absolute;
  left:204px;
  top:17px;
  width:56px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u8773 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u8774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8774 {
  position:absolute;
  left:284px;
  top:17px;
  width:67px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8775 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u8776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8776 {
  position:absolute;
  left:368px;
  top:17px;
  width:67px;
  height:32px;
}
#u8777 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u8778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8778 {
  position:absolute;
  left:651px;
  top:9px;
  width:445px;
  height:47px;
}
#u8779 {
  position:absolute;
  left:2px;
  top:16px;
  width:441px;
  word-wrap:break-word;
}
#u8780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8780 {
  position:absolute;
  left:1597px;
  top:19px;
  width:51px;
  height:29px;
}
#u8780_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8780.mouseOver {
}
#u8781 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u8782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8782 {
  position:absolute;
  left:1664px;
  top:19px;
  width:48px;
  height:29px;
}
#u8782_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8782.mouseOver {
}
#u8783 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u8784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8784 {
  position:absolute;
  left:1729px;
  top:19px;
  width:50px;
  height:29px;
}
#u8784_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8784.mouseOver {
}
#u8785 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u8786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8786 {
  position:absolute;
  left:1535px;
  top:19px;
  width:48px;
  height:29px;
}
#u8786_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8786.mouseOver {
}
#u8787 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u8788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8788 {
  position:absolute;
  left:1095px;
  top:9px;
  width:101px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8789 {
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u8790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8790 {
  position:absolute;
  left:452px;
  top:17px;
  width:72px;
  height:32px;
}
#u8791 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u8792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:382px;
}
#u8793 {
  position:absolute;
  left:1058px;
  top:144px;
  width:450px;
  height:372px;
}
#u8794 {
  position:absolute;
  left:2px;
  top:178px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8795 {
  position:absolute;
  left:1058px;
  top:516px;
  width:450px;
  height:124px;
}
#u8796 {
  position:absolute;
  left:2px;
  top:54px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8797 {
  position:absolute;
  left:1066px;
  top:526px;
  width:431px;
  height:69px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8798 {
  position:absolute;
  left:2px;
  top:6px;
  width:427px;
  word-wrap:break-word;
}
#u8799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u8799 {
  position:absolute;
  left:1438px;
  top:600px;
  width:59px;
  height:31px;
  font-size:18px;
  text-align:center;
}
#u8800 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u8801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#199ED8;
}
#u8801 {
  position:absolute;
  left:354px;
  top:469px;
  width:497px;
  height:71px;
  font-size:28px;
  color:#199ED8;
}
#u8802 {
  position:absolute;
  left:2px;
  top:19px;
  width:493px;
  word-wrap:break-word;
}
#u8803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:100px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#199ED8;
}
#u8803 {
  position:absolute;
  left:155px;
  top:215px;
  width:617px;
  height:100px;
  font-size:48px;
  color:#199ED8;
}
#u8804 {
  position:absolute;
  left:2px;
  top:22px;
  width:613px;
  word-wrap:break-word;
}
#u8805 {
  position:absolute;
  left:365px;
  top:575px;
  width:107px;
  height:30px;
}
#u8805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8806 {
  position:absolute;
  left:365px;
  top:615px;
  width:61px;
  height:30px;
}
#u8806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8807 {
  position:absolute;
  left:449px;
  top:615px;
  width:61px;
  height:30px;
}
#u8807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8808 {
  position:absolute;
  left:532px;
  top:615px;
  width:61px;
  height:30px;
}
#u8808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:2px;
}
#u8809 {
  position:absolute;
  left:354px;
  top:655px;
  width:214px;
  height:1px;
}
#u8810 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8811 {
  position:absolute;
  left:365px;
  top:685px;
  width:107px;
  height:30px;
}
#u8811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8812 {
  position:absolute;
  left:365px;
  top:725px;
  width:1218px;
  height:174px;
}
#u8812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:174px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8813 {
  position:absolute;
  left:1071px;
  top:597px;
  width:80px;
  height:33px;
  color:#FF0000;
}
#u8814 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:186px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8817 {
  position:absolute;
  left:0px;
  top:2076px;
  width:1860px;
  height:186px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8818 {
  position:absolute;
  left:2px;
  top:85px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8819 {
  position:absolute;
  left:503px;
  top:2113px;
  width:202px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8820 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8821 {
  position:absolute;
  left:705px;
  top:2113px;
  width:202px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8822 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8823 {
  position:absolute;
  left:907px;
  top:2113px;
  width:195px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8824 {
  position:absolute;
  left:2px;
  top:13px;
  width:191px;
  word-wrap:break-word;
}
#u8825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8825 {
  position:absolute;
  left:1124px;
  top:2113px;
  width:195px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8826 {
  position:absolute;
  left:2px;
  top:13px;
  width:191px;
  word-wrap:break-word;
}
#u8827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:28px;
}
#u8827 {
  position:absolute;
  left:675px;
  top:2186px;
  width:435px;
  height:28px;
  font-size:16px;
}
#u8828 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  word-wrap:break-word;
}
#u8829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:588px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8829 {
  position:absolute;
  left:334px;
  top:1003px;
  width:1285px;
  height:588px;
}
#u8830 {
  position:absolute;
  left:2px;
  top:286px;
  width:1281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
}
#u8833 {
  position:absolute;
  left:365px;
  top:1104px;
  width:360px;
  height:298px;
}
#u8834 {
  position:absolute;
  left:2px;
  top:141px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8835 {
  position:absolute;
  left:365px;
  top:1402px;
  width:360px;
  height:99px;
}
#u8836 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8837 {
  position:absolute;
  left:371px;
  top:1410px;
  width:345px;
  height:55px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8838 {
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  word-wrap:break-word;
}
#u8839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u8839 {
  position:absolute;
  left:669px;
  top:1469px;
  width:47px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u8840 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
}
#u8842 {
  position:absolute;
  left:1223px;
  top:1104px;
  width:360px;
  height:298px;
}
#u8843 {
  position:absolute;
  left:2px;
  top:141px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844 {
  position:absolute;
  left:1223px;
  top:1402px;
  width:360px;
  height:99px;
}
#u8845 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8846 {
  position:absolute;
  left:1229px;
  top:1410px;
  width:345px;
  height:55px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8847 {
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  word-wrap:break-word;
}
#u8848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u8848 {
  position:absolute;
  left:1527px;
  top:1469px;
  width:47px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u8849 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8850 {
  position:absolute;
  left:371px;
  top:1469px;
  width:64px;
  height:26px;
  color:#199ED8;
}
#u8851 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8852 {
  position:absolute;
  left:1232px;
  top:1468px;
  width:64px;
  height:26px;
  color:#199ED8;
}
#u8853 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u8854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
}
#u8855 {
  position:absolute;
  left:796px;
  top:1104px;
  width:360px;
  height:298px;
}
#u8856 {
  position:absolute;
  left:2px;
  top:141px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8857 {
  position:absolute;
  left:796px;
  top:1402px;
  width:360px;
  height:99px;
}
#u8858 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8859 {
  position:absolute;
  left:802px;
  top:1410px;
  width:345px;
  height:55px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8860 {
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  word-wrap:break-word;
}
#u8861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u8861 {
  position:absolute;
  left:1100px;
  top:1469px;
  width:47px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u8862 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8863 {
  position:absolute;
  left:809px;
  top:1468px;
  width:64px;
  height:26px;
  color:#199ED8;
}
#u8864 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u8865 {
  position:absolute;
  left:365px;
  top:535px;
  width:304px;
  height:30px;
}
#u8865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#199ED8;
  text-align:left;
}
#u8866 {
  position:absolute;
  left:365px;
  top:1015px;
  width:184px;
  height:71px;
  font-size:28px;
  color:#199ED8;
  text-align:left;
}
#u8867 {
  position:absolute;
  left:2px;
  top:19px;
  width:180px;
  word-wrap:break-word;
}
