body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:494px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8868 {
  position:absolute;
  left:0px;
  top:67px;
  width:1860px;
  height:494px;
}
#u8869 {
  position:absolute;
  left:2px;
  top:239px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:881px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8870 {
  position:absolute;
  left:334px;
  top:429px;
  width:1285px;
  height:881px;
}
#u8871 {
  position:absolute;
  left:2px;
  top:432px;
  width:1281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:67px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8873 {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:67px;
}
#u8874 {
  position:absolute;
  left:2px;
  top:26px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8875 {
  position:absolute;
  left:1411px;
  top:14px;
  width:40px;
  height:40px;
}
#u8876 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8877 {
  position:absolute;
  left:1450px;
  top:21px;
  width:58px;
  height:26px;
}
#u8878 {
  position:absolute;
  left:2px;
  top:5px;
  width:54px;
  word-wrap:break-word;
}
#u8879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8879 {
  position:absolute;
  left:43px;
  top:3px;
  width:60px;
  height:60px;
}
#u8880 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u8881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8881 {
  position:absolute;
  left:108px;
  top:9px;
  width:74px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8882 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u8883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u8883 {
  position:absolute;
  left:204px;
  top:17px;
  width:56px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u8884 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u8885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8885 {
  position:absolute;
  left:284px;
  top:17px;
  width:68px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8886 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u8887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8887 {
  position:absolute;
  left:368px;
  top:17px;
  width:74px;
  height:32px;
}
#u8888 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u8889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8889 {
  position:absolute;
  left:651px;
  top:9px;
  width:445px;
  height:47px;
}
#u8890 {
  position:absolute;
  left:2px;
  top:16px;
  width:441px;
  word-wrap:break-word;
}
#u8891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8891 {
  position:absolute;
  left:1597px;
  top:19px;
  width:51px;
  height:29px;
}
#u8891_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8891.mouseOver {
}
#u8892 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u8893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8893 {
  position:absolute;
  left:1664px;
  top:19px;
  width:48px;
  height:29px;
}
#u8893_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8893.mouseOver {
}
#u8894 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u8895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8895 {
  position:absolute;
  left:1729px;
  top:19px;
  width:50px;
  height:29px;
}
#u8895_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8895.mouseOver {
}
#u8896 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u8897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8897 {
  position:absolute;
  left:1535px;
  top:19px;
  width:48px;
  height:29px;
}
#u8897_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8897.mouseOver {
}
#u8898 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u8899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:47px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8899 {
  position:absolute;
  left:1095px;
  top:9px;
  width:101px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8900 {
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u8901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8901 {
  position:absolute;
  left:455px;
  top:17px;
  width:75px;
  height:32px;
}
#u8902 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u8903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:382px;
}
#u8904 {
  position:absolute;
  left:1058px;
  top:144px;
  width:450px;
  height:372px;
}
#u8905 {
  position:absolute;
  left:2px;
  top:178px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8906 {
  position:absolute;
  left:1058px;
  top:516px;
  width:450px;
  height:124px;
}
#u8907 {
  position:absolute;
  left:2px;
  top:54px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8908 {
  position:absolute;
  left:1066px;
  top:526px;
  width:431px;
  height:69px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8909 {
  position:absolute;
  left:2px;
  top:6px;
  width:427px;
  word-wrap:break-word;
}
#u8910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u8910 {
  position:absolute;
  left:1438px;
  top:600px;
  width:59px;
  height:31px;
  font-size:18px;
  text-align:center;
}
#u8911 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u8912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#199ED8;
}
#u8912 {
  position:absolute;
  left:354px;
  top:469px;
  width:497px;
  height:71px;
  font-size:28px;
  color:#199ED8;
}
#u8913 {
  position:absolute;
  left:2px;
  top:19px;
  width:493px;
  word-wrap:break-word;
}
#u8914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:100px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#199ED8;
}
#u8914 {
  position:absolute;
  left:155px;
  top:215px;
  width:617px;
  height:100px;
  font-size:48px;
  color:#199ED8;
}
#u8915 {
  position:absolute;
  left:2px;
  top:22px;
  width:613px;
  word-wrap:break-word;
}
#u8916 {
  position:absolute;
  left:365px;
  top:575px;
  width:107px;
  height:30px;
}
#u8916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8917 {
  position:absolute;
  left:365px;
  top:615px;
  width:61px;
  height:30px;
}
#u8917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8918 {
  position:absolute;
  left:449px;
  top:615px;
  width:61px;
  height:30px;
}
#u8918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8919 {
  position:absolute;
  left:532px;
  top:615px;
  width:61px;
  height:30px;
}
#u8919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#199ED8;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:2px;
}
#u8920 {
  position:absolute;
  left:354px;
  top:655px;
  width:214px;
  height:1px;
}
#u8921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8922 {
  position:absolute;
  left:365px;
  top:685px;
  width:107px;
  height:30px;
}
#u8922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8923 {
  position:absolute;
  left:365px;
  top:725px;
  width:1218px;
  height:174px;
}
#u8923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:174px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8924 {
  position:absolute;
  left:1071px;
  top:597px;
  width:125px;
  height:34px;
  color:#199ED8;
}
#u8925 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u8927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:186px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8928 {
  position:absolute;
  left:0px;
  top:2076px;
  width:1860px;
  height:186px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8929 {
  position:absolute;
  left:2px;
  top:85px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8930 {
  position:absolute;
  left:503px;
  top:2113px;
  width:202px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8931 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8932 {
  position:absolute;
  left:705px;
  top:2113px;
  width:202px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8933 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8934 {
  position:absolute;
  left:907px;
  top:2113px;
  width:195px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8935 {
  position:absolute;
  left:2px;
  top:13px;
  width:191px;
  word-wrap:break-word;
}
#u8936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8936 {
  position:absolute;
  left:1124px;
  top:2113px;
  width:195px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8937 {
  position:absolute;
  left:2px;
  top:13px;
  width:191px;
  word-wrap:break-word;
}
#u8938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:28px;
}
#u8938 {
  position:absolute;
  left:675px;
  top:2186px;
  width:435px;
  height:28px;
  font-size:16px;
}
#u8939 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  word-wrap:break-word;
}
#u8940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:588px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8940 {
  position:absolute;
  left:334px;
  top:1336px;
  width:1285px;
  height:588px;
}
#u8941 {
  position:absolute;
  left:2px;
  top:286px;
  width:1281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
}
#u8944 {
  position:absolute;
  left:365px;
  top:1437px;
  width:360px;
  height:298px;
}
#u8945 {
  position:absolute;
  left:2px;
  top:141px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8946 {
  position:absolute;
  left:365px;
  top:1735px;
  width:360px;
  height:99px;
}
#u8947 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8948 {
  position:absolute;
  left:371px;
  top:1743px;
  width:345px;
  height:55px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8949 {
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  word-wrap:break-word;
}
#u8950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u8950 {
  position:absolute;
  left:669px;
  top:1802px;
  width:47px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u8951 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
}
#u8953 {
  position:absolute;
  left:1223px;
  top:1437px;
  width:360px;
  height:298px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:141px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8955 {
  position:absolute;
  left:1223px;
  top:1735px;
  width:360px;
  height:99px;
}
#u8956 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8957 {
  position:absolute;
  left:1229px;
  top:1743px;
  width:345px;
  height:55px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8958 {
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  word-wrap:break-word;
}
#u8959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u8959 {
  position:absolute;
  left:1527px;
  top:1802px;
  width:47px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u8960 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8961 {
  position:absolute;
  left:371px;
  top:1802px;
  width:64px;
  height:26px;
  color:#199ED8;
}
#u8962 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8963 {
  position:absolute;
  left:1234px;
  top:1801px;
  width:64px;
  height:26px;
  color:#199ED8;
}
#u8964 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u8965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
}
#u8966 {
  position:absolute;
  left:796px;
  top:1437px;
  width:360px;
  height:298px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:141px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8968 {
  position:absolute;
  left:796px;
  top:1735px;
  width:360px;
  height:99px;
}
#u8969 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8970 {
  position:absolute;
  left:802px;
  top:1743px;
  width:345px;
  height:55px;
  font-size:25px;
  color:#199ED8;
  text-align:left;
}
#u8971 {
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  word-wrap:break-word;
}
#u8972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u8972 {
  position:absolute;
  left:1100px;
  top:1802px;
  width:47px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u8973 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u8974 {
  position:absolute;
  left:807px;
  top:1801px;
  width:64px;
  height:26px;
  color:#199ED8;
}
#u8975 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u8976 {
  position:absolute;
  left:365px;
  top:535px;
  width:275px;
  height:30px;
}
#u8976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#199ED8;
  text-align:left;
}
#u8977 {
  position:absolute;
  left:365px;
  top:1348px;
  width:184px;
  height:71px;
  font-size:28px;
  color:#199ED8;
  text-align:left;
}
#u8978 {
  position:absolute;
  left:2px;
  top:19px;
  width:180px;
  word-wrap:break-word;
}
#u8979 {
  position:absolute;
  left:365px;
  top:934px;
  width:203px;
  height:44px;
}
#u8979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8981 {
  position:absolute;
  left:371px;
  top:978px;
  width:269px;
  height:285px;
}
#u8982 {
  position:absolute;
  left:2px;
  top:134px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:277px;
}
#u8984 {
  position:absolute;
  left:375px;
  top:985px;
  width:258px;
  height:277px;
}
#u8985 {
  position:absolute;
  left:2px;
  top:130px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8986 {
  position:absolute;
  left:492px;
  top:1048px;
  width:94px;
  height:43px;
  font-size:20px;
}
#u8987 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u8988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8988 {
  position:absolute;
  left:409px;
  top:1140px;
  width:72px;
  height:26px;
}
#u8989 {
  position:absolute;
  left:2px;
  top:5px;
  width:68px;
  word-wrap:break-word;
}
#u8990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8990 {
  position:absolute;
  left:497px;
  top:1126px;
  width:97px;
  height:72px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8991 {
  position:absolute;
  left:2px;
  top:-2px;
  width:93px;
  word-wrap:break-word;
}
#u8992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:382px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  color:#000000;
}
#u8992 {
  position:absolute;
  left:1664px;
  top:597px;
  width:274px;
  height:382px;
  font-size:18px;
  color:#000000;
}
#u8993 {
  position:absolute;
  left:10px;
  top:10px;
  width:254px;
  word-wrap:break-word;
}
