<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone = no" />
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
  <title>品评网</title>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <script type="text/javascript" src="../js/rem.min.js"></script>
</head>

<body>
  <footer>
    <a href="../about.html" target="_parent">关于我们</a>
    <a href="../help.html" target="_parent">帮助中心</a>
    <a href="#" target="_parent">问题反馈</a>
    <p class="copyright">Copyright@2017 品评网</p>
  </footer>
</body>

</html>