<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone = no" />
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
  <title>品评网</title>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css">
  <script type="text/javascript" src="../js/rem.min.js"></script>
</head>

<body>
  <div class="common-title-box">
    <a href="#" onclick="javascript:history.back(-1);" target="_parent" class="icon iconfont icon-fanhui"></a>
    <span>关于我们</span>
    <i class="icon iconfont icon-caidan"></i>
  </div>
</body>

</html>