.brand-part {
    background: #f6f7f9;
    padding-top: 60px;
}
.brand-box {
    margin: 60px 0;
}
.brand-part a {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    max-width: 350px;
    margin: 0 auto;
}
.brand-item-img-box {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.brand-item-name {
    font-size: 20px;
    color: #004f9f;
    text-align: center;
    line-height: 108px;
}