.banner {
	height: 5.3rem;
	background-image: url(../images/about_banner.png);
}
.about-us {
	width: 12rem;
	margin: 0 auto;
	padding: 1.0rem 0 1.4rem;
}
.about-us .us-ctt {
	font-size: 0;
}
.about-us .us-ctt > div {
	display: inline-block;
}
.about-us .left-ctt {
	padding-top: .22rem;
	width: 7.34rem;
}
.about-us .left-ctt .sec-tit {
	font-size: .36rem;
	color: #333;
}
.about-us .left-ctt .us-msg {
	font-size: .22rem;
	line-height: .46rem;
	color: #666;
}
.about-us .left-ctt .us-msg p:nth-child(1) {
	margin: .38rem 0;
}
.about-us .right-pic {
	float: right;
	width: 3.76rem;
	height: 4.0rem;
	background-image: url(../images/share_friend.png);
	background-size: 9.8rem 6.42rem;
	background-position: -3.24rem -.1rem;
}
.contact .sec-tit {
	font-size: .36rem;
	line-height: .36rem;
	padding: .57rem 0;
	color: #333;
	text-align: center;

}
.contact {
	background-color: #ffeae8;
	padding-bottom: 0.63rem;
}
.contact .contact-ctt {
	width: 12rem;
	margin: 0 auto;
	font-size: 0;
}
.contact .contact-ctt > div {
	display: inline-block;
	height: 4.26rem;
}
.contact .contact-ctt .contact-ways {
	vertical-align: top;
	width: 4.58rem;
	background-color: #ffaaa2;
}
.contact .contact-ctt .contact-ways p {
	font-size: .18rem;
	line-height: .64rem;
	color: #fff;
	margin-left: .5rem;
}
.contact .contact-ctt .contact-ways p:nth-child(1) {
	margin-top: .8rem;
}
.map {
	width: 7.4rem;
}