* {
	padding: 0;
	margin: 0;
}
.banner {
	position: relative;
	background-size: 100%;
}
.banner-ctt {
	position: relative;
	padding: 1.08rem 0 .86rem;
	width: 12rem;
	margin: 0 auto;
	height: 100%;
}
.banner .logo {
	position: absolute;
	width: 1.37rem;
	height: .54rem;
	left: 50%;
	top: .13rem;
	margin-left: -.685rem;
}
.banner .nav-lists {
	float: right;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 3.6rem;
	height: .6rem;
	font-size: 0;
	background-color: #ffbc2c;
}
.banner .nav-lists a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: .22rem;
	width: 1.8rem;
	text-align: center;
}
.banner .nav-lists a span {
	display: inline-block;
	padding: .05rem;
}
.banner .nav-lists a .border-active {
	border-bottom: 3px solid #fff;
}
.banner .logo img {
	width: 100%;
	height: 100%;
}
footer {
	padding: 0.42rem;
	font-size: 0.18rem;
	color: #666;
	text-align: center;
}
footer p:nth-child(2) {
	margin-top: 0.1rem
}