<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
	<link rel="stylesheet" href="/static/dist/animate.min.css">
	<link rel="stylesheet" href="/static/css/dialog.css">
	<link rel="stylesheet" href="/static/css/hbdt.css">
	<script src="/static/dist/jquery-2.1.1.min.js" type="text/javascript" charset="UTF-8"></script>
        <script type="text/javascript" src="/static/js/rem.js"></script>
        <title>趣味游戏</title>
</head>
<body style="background: #fff;">
	<div class="reward">
		<ul>
			<li>
                                <img src="/static/images/Answer/Lawyer_online_gyls.png" alt="" />
				<div>
					<p class="pti">免费抽取iphoneX机会</p>
					<p class="pco">有效期：长期有效</p>
				</div>
				<img class="toright" src="/static/images/Answer/toright.png"/>
			</li>
			<li>
				<img src="/static/images/Answer/Lawyer_online_gyls.png" alt="" />
				<div>
					<p class="pti">免费抽取iphoneX机会</p>
					<p class="pco">有效期：长期有效</p>
				</div>
				<img class="toright" src="/static/images/Answer/toright.png"/>
			</li>
			<li>
				<img src="/static/images/Answer/Lawyer_online_gyls.png" alt="" />
				<div>
					<p class="pti">免费抽取iphoneX机会</p>
					<p class="pco">有效期：长期有效</p>
				</div>
				<img class="toright" src="/static/images/Answer/toright.png"/>
			</li>
		</ul>
	</div>
</body>
</html>